<nav class="navbar navbar-expand d-none d-md-block navbar-dark bg-primary">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}">
                    Accueil
                </a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a href="{{ path('tricks_create') }}" class="nav-link">
                        Créer une figure
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_register') }}">
                        Inscription
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_login') }}">
                        Connexion
                    </a>
                </li>
            {% endif %}
        </ul>
        {% if app.user %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('account_update_password') }}" class="nav-link">
                        Changer de mot de passe
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-column align-items-center">
                <li class="nav-item my-2 my-lg-0 text-secondary">
                <span class="badge badge-pill badge-primary">
                    <img src="{{ app.user.profilePicture }}" class="avatar avatar-mini" alt="Avatar de {{ app.user.profilePicture }}">
                    {{ app.user.nickname }}
                </span>
                </li>
                <li class="nav-item">
                    <a href="{{ path('account_logout') }}" class="nav-link">
                        Déconnexion
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>