{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron d-flex flex-column align-items-center homepageHeader">
        <img    style="height: 93px; width: 200px; display: block;"
                src="{{ asset('images/logo.png') }}" alt="Logo du site">
        <h1 class="display-3">Snowtricks</h1>
        <p class="lead">La passion du snowboard</p>
        <a href="#tricksDiv" class="headerArrow">
            <span class="fas fa-arrow-circle-down"></span>
        </a>
    </div>
    <div id="tricksDiv">
        {% if tricks | length > 0 %}
            <span class="d-flex justify-content-center mb-2">
            Il y a actuellement {{ tricks | length }} figure{% if tricks | length > 1%}s{% endif%} sur le site !
            </span>
            <input type="hidden" id="row-counter" value="0">
            <input type="hidden" id="totalRow" value="{{ numberOfRow-1 }}">
            {% for i in 0..numberOfRow-1 %}
            <div id="rowOfTricks{{ i }}" class="{% if loop.first %}d-flex flex-wrap flex-md-nowrap justify-content-md-around justify-content-center{% else %}d-none{% endif%} mb-5">
                {% for j in (i*4)..(i*4+3) %}
                    {% if tricks[j] is defined %}
                    <div class="col-md-3 card mb-5">
                        <h3 class="card-header text-center"><a href="{{ path('tricks_show', {'slug': tricks[j].slug}) }}">{{ tricks[j].name | truncate(18, '...') | capitalize }}</a></h3>
                        <a href="{{ path('tricks_show', {'slug': tricks[j].slug}) }}">
                            <img class="coverImageCard" src="{{ asset('uploads/images/' ~ tricks[j].coverImage) }}" alt="Image de couverture de la figure {{ tricks[j].name }}">
                        </a>
                        <div class="card-body pt-1 mt-1 d-flex justify-content-around">
                            <a href="{{ path('tricks_edit', {'slug' : tricks[j].slug}) }}">
                                <span class="fas fa-pencil-alt text-info"></span>
                            </a>
                            <a href="{{ path('tricks_delete', {'slug' : tricks[j].slug}) }}"
                               onclick="return confirm(`Êtes-vous sûr de vouloir supprimer la figure {{ tricks[j].name }} ?`)">
                                <span class="far fa-trash-alt text-danger"></span>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        <div class="d-flex justify-content-center">
            <a href="#footer" class="loaderIcon">
                <span id="rowLoader" class="fas fa-plus-circle"></span>
            </a>
        </div>
        <div id="arrowUp" class="d-none">
            <a href="#topBar" class="footerArrow">
                <span class="fas fa-arrow-circle-up"></span>
            </a>
        </div>
        {% else %}
            <span class="d-flex justify-content-center">
            Il n'y a actuellement aucune figure enregistrée sur le site...
            </span>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/smoothScroll.js') }}"></script>
<script src="{{ asset('js/trickListIcons.js') }}"></script>
{% endblock %}