{% extends 'base.html.twig' %}

{% block title %}{{ trick.name | capitalize }}{% endblock %}

{% block body %}
<div class="container">
    {% if app.user %}
    <div class="mt-3">
        <a href="{{ path('tricks_edit', {'slug' : trick.slug}) }}" class="btn btn-warning">
            Modifier la figure
        </a>
        <a href="{{ path('tricks_delete', {'slug' : trick.slug}) }}" class="btn btn-danger"
        onclick="return confirm(`Êtes-vous sûr de vouloir supprimer la figure {{ trick.name }} ?`)">
            Supprimer la figure
        </a>
    </div>
    {% endif %}
    <h1>{{ trick.name | capitalize }}</h1>
    <img src="{{ asset('uploads/images/' ~ trick.coverImage) }}" alt="...">
    <p>{{ trick.description | capitalize }}</p>

    <span class="badge badge-pill badge-info">Catégorie : {{ trick.category.name | capitalize }}</span>
    {% if trick.creator %}
        <span class="badge badge-pill badge-primary">
            Créateur :
            <img src="{{ trick.creator.profilePicture }}" class="avatar avatar-mini" alt="Avatar de {{ trick.creator.nickname }}">
            {{ trick.creator.nickname }}
        </span>
    {% endif %}
    <span class="badge badge-pill badge-success">Date de création : {{ trick.creationDate | date("d/m/Y à H:i:s") }}</span>
    {% if trick.modificationDate %}
        <span class="badge badge-pill badge-success">Dernière modification : {{ trick.modificationDate | date("d/m/Y à H:i:s") }}</span>
    {% endif %}

    {#<div>
    {% for image in trick.images %}
        <img src="{{ asset('uploads/images/' ~ image) }}" alt="...">
    {% endfor %}
    </div>#}

    <div>
    {% for media in trick.medias %}
        {{ media.url | raw }}
    {% endfor %}
    </div>

    <div class="mt-3">
        {% if app.user %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">
                Poster votre commentaire
            </button>
            <div class="text-muted">(connecté(e) en tant que <strong>{{ app.user.nickname }}</strong>)</div>
            {{ form_end(form) }}
        {% else %}
        Pour écrire un commentaire, il faut vous <a href="{{ path('account_login') }}">identifier</a> ou vous
        <a href="{{ path('account_register') }}">inscrire</a> si vous ne possédez pas encore de compte !
        {% endif %}
    </div>
    <hr>
    <div class="mt-3">
    {% if trick.comments | length > 0 %}
        {% for comment in trick.comments %}
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Posté le {{ comment.date | date('d/m/Y à H:i:s') }}</div>
                <div class="card-body">
                    <h4 class="card-title">
                        {% if comment.author %}
                            <img src="{{ comment.author.profilePicture }}" class="avatar avatar-medium" alt="Avatar de {{ comment.author.nickname }}">
                            {{ comment.author.nickname }}
                        {% else %}
                            Pseudo supprimé
                        {% endif %}
                    </h4>
                    <p class="card-text">{{ comment.content }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        Il n'y a actuellement aucun commentaire sur cette figure.
    {% endif %}
    </div>
</div>
{% endblock %}



