{% extends 'base.html.twig' %}

{% block title %}{{ trick.name | capitalize }}{% endblock %}

{% block body %}
<div class="container">
    {% if app.user %}
    <div class="mt-3">
        <a href="{{ path('tricks_edit', {'slug' : trick.slug}) }}" class="btn btn-warning">
            Modifier la figure
        </a>
        <a href="{{ path('tricks_delete', {'slug' : trick.slug}) }}" class="btn btn-danger"
        onclick="return confirm(`Êtes-vous sûr de vouloir supprimer la figure {{ trick.name }} ?`)">
            Supprimer la figure
        </a>
    </div>
    {% endif %}
    <h1>{{ trick.name | capitalize }}</h1>
    <img src="{{ trick.coverImage }}" alt="...">
    <p>{{ trick.description | capitalize }}</p>

    <span class="badge badge-pill badge-info">Catégorie : {{ trick.category.name | capitalize }}</span>
    {% if trick.creator %}
        <span class="badge badge-pill badge-primary">
            Créateur :
            <img src="{{ trick.creator.profilePicture }}" class="avatar avatar-mini" alt="Avatar de {{ trick.creator.nickname }}">
            {{ trick.creator.nickname }}
        </span>
    {% endif %}
    <span class="badge badge-pill badge-success">Date de création : {{ trick.creationDate | date("d/m/Y à H:i:s") }}</span>
    {% if trick.modificationDate %}
        <span class="badge badge-pill badge-success">Dernière modification : {{ trick.modificationDate | date("d/m/Y à H:i:s") }}</span>
    {% endif %}

    <div>
    {% for media in trick.medias %}
        {% if isMediaAnImage(media.url) %}
            <img src="{{ media.url }}" alt="..." />
            <figcaption>{{ media.caption }}</figcaption>
        {% else %}
        {{ media.url | raw }}
        <figcaption>{{ media.caption }}</figcaption>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}



