{% extends 'base.html.twig' %}

{% block title %}{{ trick.name | capitalize }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ trick.category.name | capitalize }} : {{ trick.name }}</h1>
    {% for media in trick.medias %}
        {% if isMediaAnImage(media.url) %}
            <img src="{{ media.url }}" alt="..." />
        {% else %}
        <iframe width="560" height="315"
                src="{{ media.url }}"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}



