{% extends 'base.html.twig' %}

{% block title %}{{ trick.name | capitalize }}{% endblock %}

{% block body %}
<div class="container">
    <p><a href="{{ path('tricks_edit', {'slug' : trick.slug}) }}">Modifier la figure</a></p>
    <h1>{{ trick.name | capitalize }} <span class="badge badge-pill badge-success">{{ trick.category.name | capitalize }}</span></h1>
    <img src="{{ trick.coverImage }}" alt="...">
    <p>{{ trick.description | capitalize }}</p>
    {% for media in trick.medias %}
        {% if isMediaAnImage(media.url) %}
            <img src="{{ media.url }}" alt="..." />
            <figcaption>{{ media.caption }}</figcaption>
        {% else %}
        {{ media.url | raw }}
        <figcaption>{{ media.caption }}</figcaption>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}



