{% extends 'base.html.twig' %}

{% block title %}{{ trick.name | capitalize }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ trick.name }} <span class="badge badge-pill badge-success">{{ trick.category.name | capitalize }}</span></h1>
    <img src="{{ trick.coverImage }}" alt="...">
    <p>{{ trick.description | capitalize }}</p>
    {% for media in trick.medias %}
        {% if isMediaAnImage(media.url) %}
            <img src="{{ media.url }}" alt="..." />
        {% else %}
        {{ media.url | raw }}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}



